.about{


min-height:100vh;


display:flex;


align-items:center;


padding:100px 80px;



background:


radial-gradient(

circle at top left,

#1e3a8a,

transparent 35%

),



linear-gradient(

135deg,

#020617,

#0f172a,

#020617

);



color:white;



overflow:hidden;



}







/* LEFT */

.about-left{


width:35%;



display:flex;


flex-direction:column;



align-items:center;



justify-content:center;



position:relative;



}





.about-text{


display:flex;


flex-direction:column;


align-items:center;



}




.about-text span{


font-size:95px;



font-weight:900;



line-height:.85;



background:


linear-gradient(

180deg,

#00d9ff,

#7c3aed,

#ec4899

);



background-size:200%;



background-clip:text;



-webkit-background-clip:text;



-webkit-text-fill-color:transparent;



animation:



aboutLetter 3s infinite ease-in-out,

letterColor 5s linear infinite;



}




.about-text span:nth-child(1){

animation-delay:.1s;

}


.about-text span:nth-child(2){

animation-delay:.3s;

}


.about-text span:nth-child(3){

animation-delay:.5s;

}


.about-text span:nth-child(4){

animation-delay:.7s;

}


.about-text span:nth-child(5){

animation-delay:.9s;

}






@keyframes aboutLetter{


50%{


transform:


translateX(25px)
translateY(-10px);



}


}






@keyframes letterColor{


0%{


background-position:0%;


}



100%{


background-position:200%;


}



}







/* LOTTIE */


.about-animation{


width:230px;



height:230px;



margin-top:30px;



filter:


drop-shadow(

0 0 40px #00d9ff

);



animation:


aboutFloat 4s ease-in-out infinite;



}





@keyframes aboutFloat{


50%{


transform:


translateY(-30px)
rotate(5deg);



}



}









/* RIGHT */


.about-right{


width:65%;



padding:45px;



background:


rgba(255,255,255,.08);



border-radius:30px;



border:


1px solid rgba(255,255,255,.15);



backdrop-filter:


blur(20px);



box-shadow:


0 0 50px rgba(56,189,248,.15);



animation:


aboutReveal 1s ease;



}





@keyframes aboutReveal{


from{


opacity:0;



transform:


translateX(80px);



}



to{


opacity:1;



transform:


translateX(0);



}



}







.about-right h2{


font-size:60px;



margin-bottom:30px;



background:


linear-gradient(

90deg,

#00d9ff,

#a855f7

);



background-clip:text;



-webkit-background-clip:text;



-webkit-text-fill-color:transparent;



}







.about-right p{


font-size:21px;



line-height:1.8;



margin-bottom:20px;



color:#e2e8f0;



}








/* TECH COLORS */


.tech{


color:#38bdf8;



font-weight:bold;



text-shadow:


0 0 20px #38bdf8;



}



.java{


color:#f97316;



font-weight:bold;


}




.spring{


color:#22c55e;



font-weight:bold;



}



.react{


color:#61dafb;



font-weight:bold;



}








/* MOBILE */


@media(max-width:900px){



.about{


flex-direction:column;



padding:80px 25px;



}




.about-left,

.about-right{


width:100%;



}





.about-text{


flex-direction:row;



gap:5px;



}



.about-text span{


font-size:55px;



}



.about-right{


margin-top:50px;



padding:25px;



}



.about-right h2{


font-size:40px;



}



}

/* moblie resposive  */

/* ABOUT MOBILE FINAL */

@media(max-width:600px){


.about{

padding:80px 20px 50px;

}



.about-left{

width:100%;

}



.about-text{

gap:8px;

}



.about-text span{

font-size:48px;

line-height:1;

}



.about-animation{


width:180px;


height:180px;


margin-top:25px;


}



.about-right{


width:100%;


padding:25px 20px;


border-radius:25px;


}



.about-right h2{


font-size:36px;


text-align:center;


}



.about-right p{


font-size:16px;


line-height:1.7;


text-align:left;


}


}