.experience{


min-height:100vh;


padding:100px 80px;


background:


linear-gradient(

135deg,

#020617,

#172554,

#0f172a

);


color:white;


text-align:center;


overflow:hidden;


position:relative;


}




.experience h2{


font-size:60px;


margin-bottom:80px;



background:


linear-gradient(

90deg,

#38bdf8,

#a855f7,

#ec4899

);



background-clip:text;


-webkit-background-clip:text;


color:transparent;


}



/* =========================
   AURORA CONNECTOR LINE
========================= */


.aurora-line{


position:absolute;


left:50%;


top:220px;



width:8px;


height:350px;



background:


linear-gradient(

180deg,

#38bdf8,

#a855f7,

#ec4899,

#38bdf8

);



background-size:300%;



filter:


blur(8px);



animation:


auroraMove 5s linear infinite;



border-radius:20px;



}





@keyframes auroraMove{


0%{


background-position:0%;


}



100%{


background-position:300%;


}



}




/* =========================
        FLIP CARD
========================= */



.exp-card{


width:650px;


height:380px;


margin:auto;



perspective:1200px;


}





.exp-inner{


width:100%;


height:100%;



position:relative;



transform-style:preserve-3d;



transition:.9s;



}




.exp-card:hover .exp-inner{


transform:


rotateY(180deg);


}







.exp-front,

.exp-back{


position:absolute;



width:100%;


height:100%;



padding:40px;



box-sizing:border-box;



border-radius:30px;



backface-visibility:hidden;



background:


linear-gradient(

135deg,

rgba(139,92,246,.65),

rgba(56,189,248,.35)

);



border:

1px solid rgba(255,255,255,.25);



backdrop-filter:blur(20px);



box-shadow:


0 25px 60px rgba(0,0,0,.5);



display:flex;


flex-direction:column;


justify-content:center;



text-align:left;



}





/* FRONT */


.exp-front h3{


font-size:35px;


color:#38bdf8;


}



.exp-front h4{


font-size:23px;


margin:15px 0;


}



.exp-front span{


color:#cbd5e1;


font-size:18px;


}



.exp-front p{


margin-top:40px;


color:#94a3b8;


font-size:18px;


}



/* BACK */


.exp-back{


transform:


rotateY(180deg);



background:


linear-gradient(

135deg,

#312e81,

#ec4899

);



}





.exp-back h3{


font-size:32px;


color:white;


}




.exp-back ul{


padding-left:20px;


}



.exp-back li{


font-size:18px;


line-height:1.8;


margin-bottom:15px;


}







/* hover glow */


.exp-card:hover{


filter:


drop-shadow(

0 0 40px #38bdf8

);



transform:


translateY(-10px);



}





@media(max-width:768px){


.experience{


padding:80px 20px;


}



.experience h2{


font-size:40px;


}




.exp-card{


width:100%;


height:450px;


}



}