    .theme-btn{


    position:fixed;


    right:30px;


    bottom:30px;



    width:55px;


    height:55px;



    border-radius:50%;



    border:none;



    font-size:25px;



    cursor:pointer;



    z-index:9999;



    background:


    linear-gradient(

    135deg,

    #38bdf8,

    #a855f7

    );



    box-shadow:


    0 0 30px #38bdf8;



    transition:.4s;



    }



    .theme-btn:hover{


    transform:

    scale(1.15)

    rotate(20deg);


    }
    @media (max-width: 768px) {
    .theme-btn {
        width: 45px;
        height: 45px;
        font-size: 20px;
        right: 15px;
        bottom: 15px;
        z-index: 99999;
    }
    }
    .theme-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99999; /* VERY IMPORTANT */
    }body {
    margin: 0;
    overflow-x: hidden;
    }
    .theme-btn {
    bottom: calc(20px + env(safe-area-inset-bottom));
    }